<% include ../partials/header %>
<h2>The <%= animal.type %></h2>
<p>The friendly <%= animal.type %>, a relative of the <%= animal.relative %> and friend of all <%= animal.friend %>, looks something like this: <img src="<%= animal.pic %>">.</p>

<a href="/animals"><button>Return Home</button></a>
<% include ../partials/footer %>